nav {
    background-color: #595959;
    
    height: 70px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}
.title{
    padding: 10px;
    text-decoration: none;
    color: #f2f2f2;
}
