
.card__info {
    position: absolute; 
    top: 20%; 
    right: 14%; 
    padding: 2rem;
    background: #fff;
    border: 3px solid #000;
    border-radius: 30px;
    box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td {
    border: 1px solid black;
    padding: 8px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .card__info {
      padding: 1rem; 
      right: 10%; 
    }
  }
  
  @media  (max-width: 767px) {
    .card__info {
      font-size: small;
      padding: 0.5rem; 
      right: 5%; }
  }